In [7]:
import pandas as pd

data={
    "name":["a","b","c","d"],
    "age":[12,None,44,None],
    "salary":[14000,None,23000,66000]
}
df=pd.DataFrame(data)
df["age"].fillna(df["age"].mean(),inplace=True)
df.dropna()

C:\Users\garg2\AppData\Local\Temp\ipykernel_19504\4189596889.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["age"].fillna(df["age"].mean(),inplace=True)

  name   age   salary
0    a  12.0  14000.0
2    c  44.0  23000.0
3    d  28.0  66000.0

In [10]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
data={
    "color":["red","green","pink","yellow","red","pink"],
    "size":["s","m","l","m","s","l"],
    "price":[100,150,130,120,160,130]
}
df=pd.DataFrame(data)
le=LabelEncoder()
df["color_encode"]=le.fit_transform(df["color"])
df["size_encode"]=le.fit_transform(df["size"])
df

    color size  price  color_encode  size_encode
0     red    s    100             2            2
1   green    m    150             0            1
2    pink    l    130             1            0
3  yellow    m    120             3            1
4     red    s    160             2            2
5    pink    l    130             1            0

In [6]:
import pandas as pd

data={
    "color":["red","green","pink","yellow","red","pink"],
    "size":["s","m","l","m","s","l"],
    "price":[100,150,130,120,160,130]
}

df=pd.DataFrame(data)
df
# one hot encoding
df_encoded=pd.get_dummies(df,columns=['color','size'],drop_first=False)

df_encoded

,price,color_green,color_pink,color_red,color_yellow,size_l,size_m,size_s
0,100,False,False,True,False,False,False,True
1,150,True,False,False,False,False,True,False
2,130,False,True,False,False,True,False,False
3,120,False,False,False,True,False,True,False
4,160,False,False,True,False,False,False,True
5,130,False,True,False,False,True,False,False

In [4]:
df

    color size  price
0     red    s    100
1   green    m    150
2    pink    l    130
3  yellow    m    120
4     red    s    160
5    pink    l    130

In [13]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

data={
    "color":["red","green","pink","yellow","red","pink"],
    "size":["s","m","l","m","s","l"],
    "price":[100,150,130,120,160,130]
}

df=pd.DataFrame(data)

encoder=OneHotEncoder(sparse_output=False)

encoded=encoder.fit_transform(df[['color','size']])

encode_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out(['color','size']))

final_df=pd.concat([df,encode_df],axis=1)
final_df

,color,size,price,color_green,color_pink,color_red,color_yellow,size_l,size_m,size_s
0,red,s,100,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,green,m,150,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,pink,l,130,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,yellow,m,120,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,red,s,160,0.0,0.0,1.0,0.0,0.0,0.0,1.0
5,pink,l,130,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [15]:
import pandas as pd
data={
    'age':[20,22,25,30,35],
    'salary':[30000,35000,40000,50000,60000]
}
df=pd.DataFrame(data)
df



from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaled_data=scaler.fit_transform(df)
scaled_df=pd.DataFrame(scaled_data,columns=df.columns)
scaled_df

        age    salary
0 -1.171603 -1.207020
1 -0.805477 -0.742781
2 -0.256288 -0.278543
3  0.659027  0.649934
4  1.574342  1.578410

In [16]:
import pandas as pd
data={
    'age':[20,22,25,30,35],
    'salary':[30000,35000,40000,50000,60000]
}
df=pd.DataFrame(data)
df

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaled_data=scaler.fit_transform(df)
scaled_df=pd.DataFrame(scaled_data,columns=df.columns)
scaled_df

        age    salary
0  0.000000  0.000000
1  0.133333  0.166667
2  0.333333  0.333333
3  0.666667  0.666667
4  1.000000  1.000000