In [2]:
Name="nikhil"

Name="abc"
print(Name)

abc

In [4]:
a=12
b=23
d=55
c=77
print(c,d,a,b)

77 55 12 23

In [10]:
FirstName="vishal"
LastName="sharma"
print("FirstName:",FirstName)
print("LastName:",LastName)

FirstName: vishal
LastName: sharma

In [5]:
print("hello world")

hello world

In [8]:
a="hello world"
print(a)

hello world

In [1]:
print("hello world")

hello world

In [2]:
name="vishal"
print(name)

vishal

In [8]:
firstName="vishal"
LastName="sharma"
print("firstname:", firstName ,"LastName :",LastName )

firstname: vishal LastName : sharma

In [10]:
name="vishal sharma"
print(len(name))

13

In [17]:
name="vishal sharma"
print(name[0:8])

vishal s

In [1]:
print(helloworld)

NameError: name 'helloworld' is not defined

In [5]:
a=None
print(type(a))

<class 'NoneType'>

In [7]:
a=6
b=3
print(a+b)

9

In [11]:
x=2
y=str(x)
print(x)

2

In [13]:
name="vishal"
# print(len(name))
print(name[5])

l

In [14]:
a=10
print(type(a))

<class 'int'>

In [15]:
a=3.9
print(type(a))

<class 'float'>

In [16]:
name="nikhil"
print(type(name))

<class 'str'>

In [17]:
a="23"
print(type(a))

<class 'str'>

In [19]:
a=None
print(type(a))

<class 'NoneType'>

In [20]:
a=True
print(a)

True

In [24]:
a="3"# int
b=22 # float
c=a+b # int+ float
print(type(c))

TypeError: can only concatenate str (not "int") to str

In [27]:
a="12"
y=float(a)
print(y)

12.0

In [3]:
a="10"
b=int(a)
print(type(b))

<class 'int'>

In [4]:
name="abc"
name

'abc'

In [5]:
ab="""
ahgeigfui
whfuiwrfu
fgiguighvhuiiur

"""
ab

'\nahgeigfui\nwhfuiwrfu\nfgiguighvhuiiur\n\n'

In [18]:
text="python"
text[0]="t"
text

TypeError: 'str' object does not support item assignment

In [57]:
name="vishal"
name.find("v")

0

In [44]:
name="VISHAL"
name.count("I")

1

In [28]:
name="vishal"
name.replace("v","y")

'yishal'

In [36]:
firstname="vishal"
lastname="sharma"
fullname=firstname+lastname
fullname

'vishalsharma'

In [39]:
name="vishal"
age=67
print(f"my name is {name},your age is {age}")

my name is vishal,your age is 67

In [53]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
data={
    'color':['red','green','blue','green'],
    'size':['s','m','l','s'],
    'price':[100,200,300,400]
}
ab=pd.DataFrame(data)

le=LabelEncoder()
ab['color_encoder']=le.fit_transform(ab['color'])
ab['size_encoder']=le.fit_transform(ab['size'])
ab

   color size  price  color_encoder  size_encoder
0    red    s    100              2             2
1  green    m    200              1             1
2   blue    l    300              0             0
3  green    s    400              1             2

In [54]:
import pandas as pd

data={
    'color':['red','green','blue','green'],
    'size':['s','m','l','s'],
    'price':[100,200,300,400]
}
ab=pd.DataFrame(data)

df_encoded=pd.get_dummies(ab,columns=['color','size'])
df_encoded

   price  color_blue  color_green  color_red  size_l  size_m  size_s
0    100       False        False       True   False   False    True
1    200       False         True      False   False    True   False
2    300        True        False      False    True   False   False
3    400       False         True      False   False   False    True

In [63]:
import pandas as pd
ab=pd.DataFrame({
    "a":[1,2,3,4,5],
    "b":[6,7,8,9,10]
    })
ab.insert(0,"python",ab["a"])
ab

ab["p2"]=ab["b"][0:2]
ab

   python  a   b   p2
0       1  1   6  6.0
1       2  2   7  7.0
2       3  3   8  NaN
3       4  4   9  NaN
4       5  5  10  NaN

In [67]:
delt= pd.DataFrame({
    "a":[1,2,3,4,5],
    "b":[6,7,8,9,10]
    })
delt
delt.pop("b")
delt

   a
0  1
1  2
2  3
3  4
4  5

In [69]:
delt2=pd.DataFrame({"a":[1,2,3,4,5,6],"b":[6,7,8,9,10,19]})
del delt2["a"]
delt2

    b
0   6
1   7
2   8
3   9
4  10
5  19

In [70]:
import pandas as pd
dis={
    "name":["a","b","c"],
    "id":[12,56,44]
}
ab=pd.DataFrame(dis)
ab.to_csv("test_new.csv",index=False,header=["c","d"])

In [71]:
import pandas as pd
read=pd.read_csv("C:/Users/garg2/OneDrive/one drive/OneDrive//Desktop/ALML/test_new.csv")
read

   c   d
0  a  12
1  b  56
2  c  44

In [72]:
name="vishal"
name

'vishal'

In [73]:
name="""

thefuirhuifhrhuih
hgfiuhruihfogphpuovgour
uirgfigriugiug
"""
name

'\n\nthefuirhuifhrhuih\nhgfiuhruihfogphpuovgour\nuirgfigriugiug\n'

In [79]:
name="vishal\nsharma"
name

'vishal\nsharma'

In [80]:
firstname="vishal"
lastname="sharma"
fullname=firstname+lastname
fullname

'vishalsharma'

In [82]:
fullname="sahilsharma"
print(len(fullname))

11

In [87]:
name="vishal"
name[:2]

'vi'

In [88]:
name="sahil"
name[2:]

'hil'

In [99]:
fruit="apple"
fruit[-5:-1]

'appl'

In [102]:
str="i am coder"
str.endswith("er")

True

In [103]:
name="sahil"
name.upper()

'SAHIL'

In [104]:
name="sahil"
name.capitalize()

'Sahil'

In [107]:
nsme="SAHIL"
nsme.lower()

'sahil'

In [112]:
name="vishail"
name.replace("v","h")
name.find("l")
name.count("i")

2

In [114]:
name="vishal"
age=27
print("my name is :",name,"my age is :",age)
print(f"my name is {name},and my age is {age}")

my name is : vishal my age is : 27
my name is vishal,and my age is 27

In [1]:
a=12
b=33
a+b

45

In [2]:
a=2
b=4
sum=a+b
sum

6

In [3]:
a="22"
b=55
print(a+b)

TypeError: can only concatenate str (not "int") to str

In [4]:
a=22
b=12
a-b

10

In [5]:
a=2
b=2
c=a**b
c

4

In [19]:
a=2
b=8
c=b/a
c

4.0

In [20]:
hello_1=2
hello_2=18

hello_3=hello_2%hello_1
hello_3

0

In [ ]:
age="12"
ab=33
c=age==ab
c

False

In [23]:
a=13
b=66
a!=b

True

In [24]:
a=22
b=22
a!=b

False

In [25]:
a=22
b=12
a>b

True

In [26]:
a=12
b=88
a<b

True

In [28]:
age=12
age_2=14
ab=age>=12
ab

True

In [29]:
a=True
b=True
a and b

True

In [31]:
a=False
b=False
a and b

False

In [ ]:
a=13
b=14
c=15
d= a>b or  b<c
d

False

In [ ]:
from sklearn.tree import DecisionTreeClassifier

# feature =wheather ,wind 
#  wheater: 0 =sunny  ,1 rainy day
# wind : 0 =weak .1 strong
x=[
    [0,0], # wheater,wind
    [0,1],
    [1,0],
    [1,1]

]
# 1=play 0=not play
y=[1,0,1,0]

model=DecisionTreeClassifier()
model.fit(x,y)

wheater=int(input("wheater(0=suuny:1=rainy):"))
wind=int(input("wind(0=weak:1=strong):"))

result=model.predict([[wheater,wind]])[0]
if result==1:
    print("you can play")
else:
    print("you can't play")

you cn play

In [37]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

data={
    'color':['red','green','blue','green'],
    'size':['s','m','l','s'],
    'price':[100,200,300,400]
}
df=pd.DataFrame(data)
encoder=OneHotEncoder(sparse_output=False)

encoded=encoder.fit_transform(df[['color','size']])

encoded_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out(['color','size']))
final_df=pd.concat([df,encoded_df],axis=1)
final_df

   color size  price  color_blue  ...  color_red  size_l  size_m  size_s
0    red    s    100         0.0  ...        1.0     0.0     0.0     1.0
1  green    m    200         0.0  ...        0.0     0.0     1.0     0.0
2   blue    l    300         1.0  ...        0.0     1.0     0.0     0.0
3  green    s    400         0.0  ...        0.0     0.0     0.0     1.0

[4 rows x 9 columns]

In [40]:
import pandas as pd
data={
    "age":[20,22,25,30,35],
    "salary":[30000,35000,40000,50000,60000]
}
df=pd.DataFrame(data)
df

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaled_data=scaler.fit_transform(df)
scaled_df=pd.DataFrame(scaled_data,columns=df.columns)
scaled_df

        age    salary
0 -1.171603 -1.207020
1 -0.805477 -0.742781
2 -0.256288 -0.278543
3  0.659027  0.649934
4  1.574342  1.578410

In [ ]:
from sklearn.preprocessing import MinMaxScaler
data={
    "age":[20,22,25,30,35],
    "salary":[30000,35000,40000,50000,60000]
}
df=pd.DataFrame(data)
df
scaler=MinMaxScaler()
scaled_data=scaler.fit_transform(df)
scaled_df=pd.DataFrame(scaled_data,columns=df.columns)
scaled_df

        age    salary
0  0.000000  0.000000
1  0.133333  0.166667
2  0.333333  0.333333
3  0.666667  0.666667
4  1.000000  1.000000

In [44]:
a=False
b=False
print(a and b)

False

In [ ]:
a=12
b=3
# a=a+b
a=b
a

36

In [48]:
a="5"
b=5
print(a==b)

False

In [49]:
a=10+2*4
a

18

In [53]:
x=[1,2,3,4,56]
y=40
print(y  not in x)

True

In [56]:
a=55
b=56
a is not b

True

In [61]:
a=int(input("enter a number:"))
type(a)

int

In [64]:
age=int(input("enter your age"))
if age >18:
    print("you can vote")
else:
    print("you can't vote")

you can't vote

In [68]:
light=input("enter a light color:")
if (light=="red"):
    print("plz stop")
elif (light=="yellow"):
    print("plz wait")
elif (light=="green"):
    print("you can go")
else:
    print("invalid color")

plz wait

In [74]:
a=14
b=14
print(a!=b)

False

In [75]:
a=44
b=10
c=34

a>b<c

True

In [ ]:
a=12
b=12
a>=b

In [79]:
a=12
b=14
b<=a

False

In [80]:
x=True
not x

False

In [83]:
x=12
y=15
c=34
x>y or c>y

True